* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: linear-gradient(to right, #0F2027, #203A43, #2C5364);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	width: 320px;
	height: 300px;
	background: #fff;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	color: #0F2027;
	text-align: center;
	font-size: 12px;
	row-gap: 1px;
	overflow: hidden;
}

.info {
	grid-row: span 3;
	grid-column: span 2;
	padding: 20px;
	height: 100%;
}

.image {
	position: relative;
}

	[class^=circle-] {
	border-radius: 50%;
	position:absolute;
	transition: all 1.5s ease-in-out;
	z-index: -10;
}

.circle-1 {
	left: 49px;
	bottom: -3px;
	width: 76px;
	height: 76px;
	border: 1px solid #0F2027;
	border-left-color: transparent;
}

.circle-2 {
	left: 46px;
	bottom: -6px;
	width: 82px;
	height: 82px;
	border: 1px solid #0F2027;
	border-right-color: transparent;
}

.image .pic {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	cursor: pointer;
	background: url("https://pbs.twimg.com/profile_images/1277177159304523776/v_rtjNpH_400x400.jpg");
	background-size: cover;
	margin: auto;
	z-index: 3;
}

.pic:hover ~ .circle-1 {
	transform: rotate(360deg);
}

.pic:hover ~ .circle-2 {
	transform: rotate(-360deg);
}

.information {
	margin: 30px 0 40px;
}

.work {
	margin-top: 5px;
}


button {
	background: transparent;
	border: 1px solid #0F2027;
	border-radius: 20px;
	width: 120px;
	height: 30px;
	margin-bottom: 10px;
	font-weight: 700;
	cursor: pointer;
	transition: .4s;
}

button:hover {
	background: #0F2027;
	color: white;
}

.stat {
	background: #F5E8DF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	cursor: pointer;
	transition: .5s;
}

.stat:hover {
	background: #cbbeb5;
}

.stat .num, .name {
	font-weight: 700;
	font-size: 14px;
}